* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
      background-image: url("../img/background.png");
  }

  .container {
      width: 900px;
      height: 1200px;
      margin: 15px auto;
      background-color: white;
  }

  header {
      background-image: url("../img/Forest.png");
      height: 20%;
      background-size: cover;
  }

  nav {
      background-color: lightgray;
  }
